<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<?xml-model href=""?>
<mapper namespace="memberMapper">
  <select id="login" resultType="String">
    SELECT
    	   MEMBER_NAME
      FROM
      	   DELI_MEMBER
     WHERE
     	   MEMBER_ID = #{memberId}
       AND
       	   MEMBER_PW = #{memberPw}
  </select>

  <select id="idCheckDuplicate" resultType="int">
  	SELECT
  		   COUNT(*)
  	  FROM
  	  	   DELI_MEMBER
  	 WHERE
  	 	   MEMBER_ID = #{memberId}
  </select>

  <insert id="insertMember">
  	INSERT
  	  INTO
  	  	   DELI_MEMBER
  	VALUES
  		   (
  		   SEQ_MEMBER_NO.NEXTVAL
  		 , #{memberId}
  		 , #{memberPw}
  		 , #{memberName}
  		 , #{address}
  		 , SYSDATE
  		   )
  </insert>
  
</mapper>