<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<?xml-model href=""?>
<mapper namespace="restaurantMapper">

  <select id="selectAllRestaurant" resultType="Restaurant">
  	SELECT
  		   *
  	  FROM
  	  	   RESTAURANT
  	 ORDER
  	 	BY
  	 	   REST_NO DESC
  </select>

  <select id="restaurantFindByKeyword" resultType="restaurant">
  	SELECT
  		   *
  	  FROM
  	  	   RESTAURANT
  	 WHERE
  	 <if test="menuNo == ''">
  	 	   REST_NO = #{keyword}
  	 	OR
  	 	   REST_NAME LIKE '%' || #{keyword} || '%'
  	 	OR
  	 	   CATEGORY LIKE '%' || #{keyword} || '%'
  	 	OR
  	 	   MIN_PRICE &lt;= #{keyword}
  	 	OR
  	 	   DELIVERY_FEE &lt;= #{keyword}
  	 </if>
  	 <if test="'1'.equals(menuNo)">
  	 	   REST_NO = #{keyword}
  	 </if>
  	 <if test="'2'.equals(menuNo)">
		   REST_NAME = LIKE '%' || #{keyword} || '%'
  	 </if>
  	 <if test="'3'.equals(menuNo)">
		   CATEGORY = LIKE '%' || #{keyword} || '%'
  	 </if>
  	 <if test="'4'.equals(menuNo)">
		   MIN_PRICE &lt;= #{keyword}
  	 </if>
  	 <if test="'5'.equals(menuNo)">
		   DELIVERY_FEE &lt;= #{keyword}
  	 </if>
  
  
  </select>	


</mapper>