<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
  </settings>
  <typeAliases>
    <typeAlias type="com.kh.delivery.dto.DeliMember" alias="deliMember"/>
    <typeAlias type="com.kh.delivery.dto.Menu" alias="menu"/>
    <typeAlias type="com.kh.delivery.dto.Order" alias="order"/>
    <typeAlias type="com.kh.delivery.dto.Restaurant" alias="restaurant"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"/>
        <property name="username" value="C##IL"/>
        <property name="password" value="il"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mappers/member-mapper.xml"/>
    <mapper resource="mappers/order-mapper.xml"/>
    <mapper resource="mappers/restaurant-mapper.xml"/>
  </mappers>
</configuration>